<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://ketbotv2:3m16rXlAStirZdd55KNFvOznxK0YHsaqkGkTu1MPIOeLRayTr2EonyxdYfluMaHaFKeLV6ABjLcvXnGXaezXmQ==@ketbotv2.documents.azure.com:10250/?ssl=true" />
    <add key="MongoDBDatabase" value="KetbotDB" />
    <add key="MongoDBCollection" value="KetbotAnswer" />
    
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>