<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="EndPointUrl" value="https://ketbot.documents.azure.com/"/>
    <add key="AuthorizationKey" value="oh9PPeI38xWDfIj6WvJs75klwkaogFGPKRpWXq6uzbEPhq8FRGrcHIRl6SV1I8hDAdqUPUDn7lochwc0ud2CmQ=="/>
    <add key="DatabaseId" value="KetBotDB"/>
    <add key="CollectionId" value="KetBotAnswer"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>